body{
    background-color: whitesmoke
}

h3.matricula{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

h3.ads{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-family: Arial, Helvetica, sans-serif
}

h2.inscritos{
    font-family: Arial, Helvetica, sans-serif;
}

th.tabela {
    background-color: rgb(17, 16, 107);
    color: white;
}

th, td {
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black
}

p{
    font-family: Arial, Helvetica, sans-serif
}

input.botao{
    background-color: darkblue;
    border: none;
    color: white;
    padding: 8px 18px;
}

h3{
    font-family: Arial, Helvetica, sans-serif
}

div.novo-aluno {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input.botao-aluno{
    border: none;
    color: black;
    padding: 8px 18px;
}
